# --- Database Settings (PostgreSQL) ---
POSTGRESQL_USER=postgres
POSTGRESQL_PASSWORD=securepassword123
POSTGRESQL_DB=gestion_inventario
POSTGRESQL_HOST=db
POSTGRESQL_PORT=5432

# --- Backend Settings ---
PORT=3001

# --- Frontend Settings ---
NEXT_PUBLIC_API_URL=http://localhost:3001/api
WATCHPACK_POLLING=true

# --- SonarQube Settings ---
SONARQUBE_PORT=9000
SONARQUBE_DB_USER=sonar
SONARQUBE_DB_PASSWORD=sonarpassword123
SONARQUBE_DB_NAME=sonarqube
SONAR_TOKEN=your_sonar_token_here


